.app-bar {
    padding: 8px 16px;
    background-color: var(--a);
    display: grid;
    grid-template-columns: auto 1fr auto;
    gap: 10px;
    position: sticky;
    top: 0;
    z-index: 99;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.app-bar .app-bar__menu {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__menu button {
    background-color: transparent;
    border: none;
    font-size: 32px;
    padding: 8px;
    cursor: pointer;
    color: var(--d);
}

.app-bar .app-bar__brand {
    display: flex;
    align-items: center;
}

.app-bar .app-bar__brand h1 {
    color: var(--d);
    text-transform: uppercase;
    font-size: 26px;
    user-select: none;
}

.app-bar .app-bar__navigation {
    transition: all 0.3s;
    position: absolute;
    top: 50px;
    left: -180px;
    width: 150px;
    overflow: hidden;
}

.app-bar .app-bar__navigation.open {
    padding: 8px;
    background-color: var(--a);
    left: 0;
    width: 100%;
}

.app-bar .app-bar__navigation ul li a {
    display: inline-block;
    text-decoration: none;
    color: var(--d);
    padding: 8px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 24px;
}

.app-bar .app-bar__navigation ul li a:hover {
    color: var(--e);
}