@media screen and (min-width: 650px) {
    .app-bar {
        grid-template-columns: 1fr auto;
        padding: 8px 32px;
    }
   
    .app-bar .app-bar__brand h1 {
        font-size: 1.5em;
    }
   
    .app-bar .app-bar__menu {
        display: none;
    }
   
    .app-bar .app-bar__navigation {
        position: static;
        width: 100%;
    }
   
    .app-bar .app-bar__navigation ul li {
        display: inline-block;
    }
   
    .app-bar .app-bar__navigation ul li a {
        display: inline-block;
        width: 120px;
        text-align: center;
        margin: 0;
    }
   
    .cards {
        grid-template-columns: 1fr 1fr;
    }
   
    .card {
        grid-template-columns: auto 1fr;
    }
   
    .card .card__title {
        grid-column-start: 1;
        grid-column-end: 3;
    }
   
    .card .card__overview {
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card .detail-menu{
        padding-left: 50px;
        display: grid;
        grid-template-columns: auto 0.5fr;
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .card .detail-review{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .app-bar .app-bar__navigation ul li a {
        font-size: 18px;
      }
      footer p {
        font-size: 22px;
      }
      .card-item .card-item__content h3 {
        font-size: 22px;
      }
  }
   
  @media screen and (min-width: 800px) {
    .app-bar .app-bar__brand h1 {
        font-size: 2em;
    }
  }
   
  @media screen and (min-width: 850px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
    }
  }
   
  @media screen and (min-width: 1200px) {
    .cards {
        grid-template-columns: repeat(4, 1fr);
    }
  }
   
  @media screen and (min-width: 1600px) {
    .cards {
        grid-template-columns: repeat(5, 1fr);
    }
  }